@layer components {
  /** BUTTON STYLES **/
  .button-rectangular {
    @apply h-button shrink-0 grow basis-auto font-bold tracking-wide;
    @apply flex items-center justify-center;
  }

  .button-color {
    @apply cursor-pointer border-2;
    @apply bg-audio-light border-audio-light; /* Theming Light */
    @apply dark:bg-audio-dark dark:border-audio-dark; /* Theming Dark */
    @apply hover:border-light dark:hover:border-dark; /* Hover Borders */
    @apply disabled:cursor-default disabled:border-none disabled:bg-inherit disabled:hover:bg-inherit; /* Disabled States */
  }

  .button-round {
    @apply size-button rounded-full;
    @apply flex items-center justify-center;
  }

  /** CARD STYLES **/
  .card-width,
  .card-height {
    @apply flex grow flex-col justify-start gap-1;
  }

  .card-width {
    @apply max-w-card min-w-card w-full;
  }

  .card-height {
    @apply max-h-card min-h-card h-full;
  }

  /** TEXT STYLES **/
  .error-warning {
    @apply font-headings text-center text-xl;
  }

  .notification {
    @apply text-notice-light dark:text-notice-dark;
  }

  /** TOAST STYLES **/
  .toast-success {
    @apply bg-green-500 text-white;
  }
  .toast-error {
    @apply bg-red-500 text-white;
  }
  .toast-info {
    @apply bg-blue-500 text-white;
  }
}
