@layer components {
  /** BUTTON STYLES **/
  .button-rectangular {
    @apply h-button shrink-0 grow basis-auto font-bold tracking-wide;
    @apply flex items-center justify-center;
  }

  .button-practice {
    @apply cursor-pointer border-2;
    @apply bg-audio-light border-audio-light; /* Theming Light */
    @apply dark:bg-audio-dark dark:border-audio-dark; /* Theming Dark */
    @apply hover:border-light dark:hover:border-dark; /* Hover Borders */
  }

  .shape-button-header {
    @apply size-button rounded-full;
    @apply flex items-center justify-center;
  }

  .shape-overlay {
    @apply pointer-events-auto fixed inset-0 top-0 flex items-center justify-center;
  }

  /** CARD STYLES **/
  .card-width,
  .card-height {
    @apply flex grow flex-col justify-start gap-1;
  }

  .card-width {
    @apply max-w-card min-w-card w-full;
  }

  .card-height {
    @apply max-h-card min-h-card h-full;
  }
}
