.home-star-button svg path {
  transition: stroke 0.12s ease-in-out;
}

.home-star-button:hover svg path,
.home-star-button:focus-visible svg path {
  stroke: var(--color-light);
}

.dark .home-star-button:hover svg path,
.dark .home-star-button:focus-visible svg path {
  stroke: var(--color-dark);
}
