/** RESPONSIVE STYLES **/

/* HELP AND NOTE BUTTON */
.help-btn-pos {
  position: absolute;
  bottom: -54px;
  right: 0px;
}

.help-btn-margin {
  margin-bottom: 60px;
}

.help-top-left {
  position: absolute;
  top: -0px;
  left: 16px;
}

.help-bottom-right {
  position: absolute;
  bottom: -0px;
  right: 16px;
}

.help-bottom-left {
  position: absolute;
  bottom: -0px;
  left: 16px;
}

@media (max-height: 400px) {
  .help-btn-pos {
    bottom: 0px;
    right: -54px;
  }
  .help-btn-margin {
    margin-bottom: 0px;
  }
}

.note-btn-pos {
  position: absolute;
  bottom: -54px;
  left: 0px;
}

@media (max-height: 400px)  {
  .note-btn-pos {
    bottom: 0px;
    left: -54px;
  }
}

/* HOME PAGE */
.home-title {
   @apply my-8;
}

.home-body {
  @apply mt-8;
}

@media (max-height: 400px) {
  .home-title {
     @apply mb-2 mt-8;
  }
  .home-body {
    @apply mt-2;
  }
}
