/**
 * Design tokens / theme variables.
 */

@theme {
  /** FONT FAMILIES **/
  --font-body: 'Roboto', serif;
  --font-headings: 'Mansalva', sans-serif;

  /** COLORS **/
  /** text colors **/
  --color-light: black;
  --color-dark: white;

  /** background colors **/
  --color-background-light: #f7b740;
  --color-background-dark: #111827;

  /** button colors **/
  --color-button-normal: #f7b740;
  --color-button-hover: white;
  --color-disabled-light: #f3f4f6;
  --color-disabled-dark: #6b7280;
  --color-audio-light: #f8c04a;
  --color-audio-dark: #19202e;

  /** warning colors **/
  --color-warning-light: black;
  --color-warning-dark: #87d5e8;

  /** other colors **/
  --color-hint: white;
  --color-indicator: green;
  --color-overlay: rgba(0, 0, 0, 0.5);

  /** progress bar colors **/
  --color-progress-bg: white;
  --color-new-progress-light: #87d5e8;
  --color-old-progress-light: #42bddb;
  --color-old-progress-dark: #f7ae25;
  --color-new-progress-dark: #f7d565;
  --color-divisions: #374151;

  /** LAYOUT DIMENSIONS **/
  --max-width-container: 900px;
  --max-width-hero: 450px;
  --min-width-card: 320px;
  --max-width-card: 400px;
  --min-height-card: 320px;
  --max-height-card: 400px;

  /** COMPONENT SIZES **/
  --size-button: 3.25rem;
  --width-button: 3.25rem;
  --height-button: 3.25rem;
  --height-input: 2.5rem;
  --height-attribute: 1.5rem;
  --size-indicator: 0.75rem;
}
