@layer utilities {
  /* COLORS */
  .color-button,
  .color-audio {
    @apply cursor-pointer border-2;
    @apply bg-audio-light border-audio-light; /* Theming Light */
    @apply dark:bg-audio-dark dark:border-audio-dark; /* Theming Dark */
    @apply hover:border-light dark:hover:border-dark; /* Hover Borders */
  }

  .color-base {
    @apply bg-background-light dark:bg-background-dark text-light dark:text-dark;
  }

  .color-button,
  .color-audio {
    @apply cursor-pointer border-2;
    @apply bg-audio-light border-audio-light; /* Theming Light */
    @apply dark:bg-audio-dark dark:border-audio-dark; /* Theming Dark */
    @apply hover:border-light dark:hover:border-dark; /* Hover Borders */
  }

  .color-button {
    @apply text-light dark:text-dark;
    @apply disabled:cursor-default disabled:border-none disabled:bg-inherit disabled:hover:bg-inherit; /* Disabled States */
  }

  .color-audio-disabled {
    @apply cursor-default border-2;
    @apply border-background-light dark:border-background-dark bg-inherit text-inherit;
  }

  .text-bar {
    @apply font-body text-light text-center text-sm font-bold;
  }

  /* Z-INDEX LEVELS */
  .z-header {
    @apply z-50;
  }
  .z-overlay {
    @apply z-100;
  }

  .z-help-text {
    @apply z-200;
  }

  .z-modal {
    @apply z-300;
  }
}
