:global(.app-shell[data-header-layout='side']) .header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
}

@media (min-height: 768px) {
  .header-fixed {
    margin-bottom: 40px;
  }
}

:global(.app-shell[data-header-layout='side'][data-side-header-orientation='vertical'])
  .header-side {
  flex-direction: column;
  height: 150px;
}

:global(.app-shell[data-header-layout='side'][data-side-header-orientation='vertical'])
  .header-right {
  flex-direction: column-reverse;
  justify-content: start;
}

