:global(.app-shell[data-header-layout='side']) .header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
}

@media (min-height: 768px) {
  .header-fixed {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  :global(.app-shell[data-header-layout='side']) .header-side {
    flex-direction: column;
    height: 150px;
  }
  :global(.app-shell[data-header-layout='side']) .header-right {
    flex-direction: column-reverse;
    justify-content: start;
  }
}

