@import url('https://fonts.googleapis.com/css2?family=Mansalva:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

/** SIZES
* 11 -- close button size
*/

@theme {
  /** font families **/
  --font-body: 'Roboto', serif;
  --font-headings: 'Mansalva', sans-serif;

  /** colors **/
  --color-dark: white;
  --color-light: black;
  --color-notice-light: black;
  --color-notice-dark: #87d5e8;
  --color-button-normal: #f7b740;
  --color-button-hover: white;
  --color-background-dark: #111827;
  --color-background-light: #f7b740;
  --color-disabled-light: #ba8420;
  --color-disabled-dark: #3f3f46;
  --color-audio-dark: #1a2333;
  --color-audio-light: #f8c04a;
  --color-audio-hover-dark: #1e283b;
  --color-audio-hover-light: #ffc64d;
  --color-overlay: rgba(0, 0, 0, 0.5);

  /** progress bar colors **/
  --color-progress-bg: white;
  --color-new-progress-light: #87d5e8;
  --color-old-progress-light: #42bddb;
  --color-old-progress-dark: #f7ae25;
  --color-new-progress-dark: #f7d565;
  --color-divisions: #374151;

  /** layout dimensions **/
  --max-width-container: 900px;
  --max-width-hero: 450px;
  --min-width-card: 320px;
  --max-width-card: 400px;
  --min-height-card: 320px;
  --max-height-card: 400px;

  /** button sizes **/
  --size-button: 3.25rem;
  --width-button: 3.25rem;
  --height-button: 3.25rem;
  --height-input: 2.5rem;
  --height-attribute: 1.5rem;
}

@layer base {
  html {
    font-size: 15px;
    @apply font-body text-light dark:text-dark bg-background-light dark:bg-background-dark;
  }

  button,
  link {
    @apply active:shadow-none;
  }

  button {
    @apply flex items-center justify-center;
  }

  h1 {
    @apply font-headings pb-2 text-4xl font-thin;
  }

  h2 {
    @apply font-headings pb-2 text-xl font-thin;
  }

  h3 {
    @apply font-headings pb-1 text-xl font-thin;
  }

  ul {
    @apply list-disc pl-6 text-sm;
  }

  li {
    @apply mb-1;
  }

  th,
  tr,
  td {
    @apply border px-2 py-1;
  }

  select,
  input {
    @apply focus:outline-none active:outline-none;
  }
}

@layer utilities {
  /* COLORS */
  .color-base {
    @apply bg-background-light dark:bg-background-dark text-light dark:text-dark;
  }
  .color-button {
    @apply cursor-pointer border;
    @apply bg-audio-light border-audio-light text-light; /* Theming Light */
    @apply dark:bg-audio-dark dark:border-audio-dark dark:text-dark; /* Theming Dark */
    @apply hover:border-light dark:hover:border-dark; /* Button Hover Borders  */
    @apply disabled:cursor-default disabled:border-none disabled:bg-inherit disabled:hover:bg-inherit; /* Disabled States */
  }

  .color-button-header {
    @apply hover:text-light hover:bg-white; /* Button Interactions */
  }

  .color-button-header-disabled {
    @apply cursor-default text-gray-100 hover:bg-inherit dark:text-gray-500; /** Disabled States **/
  }

  .color-audio {
    @apply cursor-pointer border;
    @apply bg-audio-light border-audio-light hover:border-light;
    @apply dark:bg-audio-dark dark:border-audio-dark dark:hover:border-dark;
  }
  .color-audio-disabled {
    @apply cursor-default border;
    @apply border-background-light dark:border-background-dark bg-inherit text-inherit;
  }

  .color-selected {
    @apply text-light bg-white;
  }

  .color-overlay {
    @apply bg-overlay;
  }

  .color-select {
    @apply bg-background-light text-light dark:bg-background-dark dark:text-dark border-none;
  }

  /* TEXT STYLES */
  .text-notice {
    @apply font-headings text-center text-xl;
  }

  .text-help {
    @apply font-headings text-center text-xl text-white;
  }

  .text-bar {
    @apply font-body text-light text-center text-sm font-bold;
  }

  .text-button {
    @apply text-left;
  }

  .text-link {
    @apply font-headings cursor-pointer text-blue-600 underline hover:no-underline dark:text-blue-400;
  }
}

@layer components {
  /** BUTTON STYLES **/
  .shape-button-rectangular {
    @apply h-button font-body font-bold tracking-wide;
    flex-grow: 1;
    flex-basis: auto;
    flex-shrink: 0;
  }

  .shape-button-header {
    @apply size-button rounded-full;
  }

  .shape-overlay {
    @apply pointer-events-auto fixed inset-0 top-0 z-1000 flex items-center justify-center;
  }

  /** CARD STYLES **/
  .card-width {
    @apply max-w-card min-w-card flex w-full grow flex-col justify-start gap-1;
  }

  .card-height {
    @apply max-h-card min-h-card flex h-full grow flex-col justify-start gap-1;
  }

  /** HEADER STYLES **/
  .sideheader {
    @apply m-4 flex gap-2;
  }
}

/** RESPONSIVE STYLES **/

@media (max-height: 460px) and (max-width: 640px) {
  .sideheader {
    flex-direction: column;
    height: 150px;
  }
  .rightheader {
    flex-direction: column-reverse;
    justify-content: start;
  }
}
@media (max-height: 460px) {
  .header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
  }
}

@media (min-height: 640px) {
  .header-fixed {
    margin-bottom: 80px;
  }
}

.help-btn-pos {
  position: absolute;
  bottom: -35px;
  right: 3px;
}

@media (max-height: 400px) {
  .help-btn-pos {
    position: absolute;
    bottom: 3px;
    right: -35px;
  }
}
