@import url("https://fonts.googleapis.com/css2?family=Mansalva:wght@400;700&family=Roboto:wght@300;400;700&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/** A-13, B-10, C-8, D-11 */

@theme {
  /** font families **/
  --font-body: "Roboto", serif;
  --font-headings: "Mansalva", sans-serif;

  /** colors **/
  --color-dark: white;
  --color-light: black;
  --color-notice-light: black;
  --color-notice-dark: #87d5e8;
  --color-button-normal: #f7b740;
  --color-button-hover: white;
  --color-background-dark: #111827;
  --color-background-light: #f7b740;
  --color-disabled-light: #ba8420;
  --color-disabled-dark: #3f3f46;
  --color-audio-dark: #1a2333;
  --color-audio-light: #f8c04a;
  --color-audio-hover-dark: #1e283b;
  --color-audio-hover-light: #ffc64d;
  --color-overlay: rgba(0, 0, 0, 0.2);

  /** layout dimensions **/
  --max-width-container: 900px;
  --max-width-hero: 450px;
  --min-width-card: 320px;
  --max-width-card: 400px;
  --min-height-card: 320px;
  --max-height-card: 400px;

  /** button sizes **/
  --size-button: 3.25rem;
  --width-button: 3.25rem;
  --height-button: 3.25rem;
  --height-input: 2.5rem;
  --height-attribute: 1.5rem;
}

@layer base {
  html {
    font-size: 15px;
    @apply font-body text-light dark:text-dark bg-background-light dark:bg-background-dark;
  }

  button,
  link {
    @apply active:shadow-none;
  }

  button {
    @apply flex items-center justify-center;
  }

  h1 {
    @apply font-headings text-4xl pb-2 font-thin;
  }

  h2 {
    @apply font-headings text-xl pb-2 font-thin;
  }

  h3 {
    @apply font-headings text-xl pb-1 font-thin;
  }

  ul {
    @apply list-disc text-sm pl-6;
  }

  li {
    @apply mb-1;
  }

  th,
  tr,
  td {
    @apply border px-2 py-1;
  }

  select,
  input {
    @apply focus:outline-none active:outline-none;
  }
}

@layer utilities {
  /* BACKGROUND COLORS */
  .color-button {
    @apply cursor-pointer border;
    @apply bg-audio-light border-audio-light hover:bg-audio-hover-light  text-light; /* Theming Light */
    @apply dark:bg-audio-dark dark:border-audio-dark dark:hover:bg-audio-hover-dark dark:text-dark; /* Theming Dark */
    @apply hover:border-light dark:hover:border-dark; /* Button Hover Borders  */
    @apply disabled:border-none disabled:hover:bg-inherit disabled:dark:text-disabled-dark disabled:text-disabled-light disabled:cursor-default disabled:bg-inherit; /* Disabled States */
  }

  .color-button-header {
    @apply hover:bg-white hover:text-light; /* Button Interactions */
  }

  .color-button-header-disabled {
    @apply cursor-default hover:bg-inherit text-gray-100 dark:text-gray-500; /** Disabled States **/
  }

  .color-audio {
    @apply border  cursor-pointer;
    @apply bg-audio-light hover:bg-audio-hover-light border-audio-light hover:border-light;
    @apply dark:bg-audio-dark dark:hover:bg-audio-hover-dark dark:border-audio-dark dark:hover:border-dark;
  }

  .color-selected {
    @apply bg-white text-light;
  }

  /* TEXT STYLES */
  .text-notice {
    @apply font-headings text-center text-xl;
  }

  .text-help {
    @apply font-headings text-center text-xl text-white;
  }

  .text-bar {
    @apply font-body font-bold text-sm text-center text-light;
  }

  .text-button {
    @apply text-left;
  }

  .text-link {
    @apply underline hover:no-underline cursor-pointer font-headings text-blue-600 dark:text-blue-400;
  }
}

@layer components {
  /** BUTTON STYLES **/
  .shape-button-rectangular {
    @apply h-button font-body font-bold tracking-wide;
    flex-grow: 1;
    flex-basis: auto;
    flex-shrink: 0;
  }

  .shape-button-header {
    @apply size-button rounded-full;
  }

  /** CARD STYLES **/
  .card-width {
    @apply w-full max-w-card min-w-card flex grow flex-col gap-1 justify-start;
  }

  .card-height {
    @apply h-full max-h-card min-h-card flex grow flex-col gap-1 justify-start;
  }

  /** HEADER STYLES **/
  .sideheader {
    @apply m-4 flex gap-2;
  }
}

/** RESPONSIVE STYLES **/

@media (max-height: 460px) and (max-width: 640px) {
  .sideheader {
    flex-direction: column;
    height: 150px;
  }
  .rightheader {
    flex-direction: column-reverse;
    justify-content: start;
    height: 150px;
  }
}
@media (max-height: 460px) {
  .header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
  }
}

@media (min-height: 640px) {
  .header-fixed {
    margin-bottom: 80px;
  }
}

.help-btn-pos {
  position: absolute;
  bottom: -35px;
  right: 3px;
}

@media (max-height: 400px) {
  .help-btn-pos {
    position: absolute;
    bottom: 3px;
    right: -35px;
  }
}
