@import url("https://fonts.googleapis.com/css2?family=Mansalva:wght@400;700&family=Roboto:wght@300;400;700&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/** A-13, B-10, C-8, D-11 */

@theme {
  /** font families **/
  --font-body: "Roboto", serif;
  --font-headings: "Mansalva", sans-serif;

  /** colors **/
  --color-dark: white;
  --color-light: black;
  --color-notice-light: black;
  --color-notice-dark: #87d5e8;
  --color-button-normal: #f7b740;
  --color-button-hover: white;
  --color-background-dark: #111827;
  --color-background-light: #f7b740;
  --color-audio-dark: #1a2333;
  --color-audio-light: #f8c04a;
  --color-audio-hover-dark: #1e283b;
  --color-audio-hover-light: #ffc64d;
  --color-overlay: rgba(0, 0, 0, 0.2);

  /** layout dimensions **/
  --max-width-container: 900px;
  --max-width-hero: 450px;
  --min-width-card: 320px;
  --max-width-card: 400px;
  --min-height-card: 320px;
  --max-height-card: 400px;

  /** button sizes **/
  --size-button: 3.25rem;
  --width-button: 3.25rem;
  --height-button: 3.25rem;
  --height-input: 2.5rem;
  --height-attribute: 1.5rem;
}

@layer base {
  html {
    font-size: 15px;
    @apply font-body text-light dark:text-dark bg-background-light dark:bg-background-dark;
  }

  button,
  link {
    @apply active:shadow-none;
  }

  button {
    @apply flex items-center justify-center;
  }

  h1 {
    @apply font-headings pb-2 pt-12 text-4xl font-thin;
  }

  select,
  input {
    @apply focus:outline-none active:outline-none;
  }
}

@layer utilities {
  /* BACKGROUND COLORS */
  .color-button {
    @apply hover:bg-button-hover hover:text-light active:shadow-none border cursor-pointer;
    @apply disabled:shadow-none disabled:border-dashed disabled:hover:text-inherit disabled:bg-inherit;
    @apply bg-background-light text-light;
    @apply dark:bg-background-dark dark:text-dark;
  }

  .color-header-disabled {
    @apply bg-inherit cursor-default hover:bg-inherit text-gray-100;
    @apply dark:bg-inherit dark:hover:bg-inherit dark:text-gray-500;
  }

  .color-disabled {
    @apply bg-inherit cursor-default hover:bg-inherit border border-dashed;
    @apply dark:bg-inherit dark:hover:bg-inherit;
  }

  .color-audio {
    @apply border border-solid cursor-pointer;
    @apply bg-audio-light hover:bg-audio-hover-light;
    @apply dark:bg-audio-dark dark:hover:bg-audio-hover-dark;
  }

  .color-selected {
    @apply bg-white text-light;
  }

  /* TEXT STYLES */
  .text-notice {
    @apply font-headings text-center text-xl;
  }

  .text-bar {
    @apply font-body font-bold text-sm text-center text-light;
  }

  .text-button {
    @apply w-45 text-left;
  }

  .text-link {
    @apply underline hover:no-underline cursor-pointer font-headings;
  }
}

@layer components {
  /** BUTTON STYLES **/
  .button-rectangular {
    @apply h-button font-body font-bold  tracking-wide;
    flex-grow: 1;
    flex-basis: auto;
    flex-shrink: 0;
  }

  .button-header {
    @apply size-button rounded-full hover:bg-white dark:hover:text-light;
  }

  /** CARD STYLES **/
  .card-width {
    @apply w-full max-w-card min-w-card flex grow flex-col gap-1 justify-start;
  }

  .card-height {
    @apply h-full max-h-card min-h-card flex grow flex-col gap-1 justify-start;
  }

  /** HEADER STYLES **/
  .sideheader {
    @apply m-4 flex gap-2;
  }
}

@media (max-height: 460px) and (max-width: 640px) {
  .sideheader {
    flex-direction: column;
    height: 150px;
  }
  .rightheader {
    flex-direction: column-reverse;
    justify-content: start;
    height: 150px;
  }
}

@media (max-height: 460px) {
  .header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
  }
}

@media (min-height: 640px) {
  .header-fixed {
    margin-bottom: 80px;
  }
}

.react-joyride__spotlight {
  padding: 20px !important;
}
